body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
}
header {
    background-color: #45a9d8;
    color: white;
    padding: 30px;
    text-align: center;
}
.slider-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    overflow: hidden; /* Asegura que el sol no sobresalga */
}
.slider {
    width: 80%;
    max-width: 800px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: white;
    z-index: 2;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
}
.slide:nth-child(odd) {
    background-color: #f9f9f9;
}
.navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.nav-button {
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.nav-button:hover {
    background-color: #45a9d8;
}
footer {
    background-color: #45a9d8;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
}
.whatsapp-icon {
    width: 55px;
    height: 55px;
    background-color: white;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    transition: background-color 0.3s;
}
.whatsapp-icon img {
    width: 40px;
    height: 40px;
}
.whatsapp-icon:hover {
    background-color: #25D366;
}
p{
    font-size: 20px;
}

@media (max-width: 600px) {
    .nav-button {
        padding: 5px;
        font-size: 14px;
    }
}